* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgba(64, 4, 6, 0.1);
  --primary-dark: #4f000b;
  --secondary: #7d7461;
  --secondary-dark: #14281d;
  --thirsty: #d4e09b;
  --fluid-width: 90vw;
  --max-width: 1170px;
  --border-radius: 0.15rem;
  --shadow-light: 0 5px 15px rgba(0, 0, 0, 0.7);
  --shadow-dark: 0 5px 15px rgba(0, 0, 0, 1);
  --transition: all 0.1s;
  --letter-spacing: 2px;
  --font-color: #fff;
}

body {
  font-family: "Dancing Script", cursive;
  line-height: 1.5;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/coffee.jpg") center/cover no-repeat fixed;
}

.nav {
  height: 5rem;
  padding: 1rem 0;
  background: #222;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 8px;
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.hero {
  height: calc(100vh - 5rem);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/coffee.jpg") center/cover no-repeat fixed;
  position: relative;
}

.hero-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  color: #fff;
  padding: 5rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-txt {
  animation: fromTop 2s ease-in-out 1s;
  position: relative;
}

.hero-center h1 {
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}

.hero-center p {
  margin: 0 auto;
  max-width: 35em;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.hero-btn {
  border: 1px solid #fff;
  background: transparent;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  color: var(--font-color);
  letter-spacing: 2px;
  transition: all 0.1s;
  animation: fromBottom 2s ease-in-out 1s;
}

.hero-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.temp {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/coffee_one.jpg") center/cover no-repeat fixed;
}

@media screen and (min-width: 768px) {
  .temp {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./images/coffee_one.jpg") center/cover no-repeat fixed;
  }
}

@keyframes fromTop {
  0% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes fromBottom {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.blog-img {
  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.blogs {
  padding: 5rem 0;
}

.section-title {
  text-align: center;
  color: var(--font-color);
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 2rem;
}

.blogs-center {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.blog {
  background-color: var(--primary);
  padding: 0.75rem;
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  box-shadow: var(--shadow-light);
  transition: var(--transition);
  color: var(--font-color);
  max-width: 530px;
  float: left;
  margin-right: 1rem;
}

.blog:hover {
  box-shadow: var(--shadow-dark);
}

.blog-content {
  padding-bottom: 2rem;
}

.blog-content h3 {
  text-transform: uppercase;
  color: var(--font-color);
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
}

.blog-content p {
  color: var(--font-color);
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.blog-content a {
  text-transform: uppercase;
  color: var(--font-color);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
}

.empty {
  clear: both;
}
